.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 3rem auto;
  gap: 1rem;
}

.Container input {
  height: 2.4rem;
}

.Words {
  background-color: antiquewhite;
  border-radius: 1rem;
}

.Words p {
  background-color: aliceblue;
  margin: 1rem;
  padding: 1rem;
}